/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 500px;
    height: 700px;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 0;
    margin-top: 20px;
    color: #333;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    margin-top: 10px;
}

a{
    background-color: #626675;
    color: white;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    text-decoration:none;
    width: fit-content;
     
}

[data-testid="currentDayOfTheWeek"],
[data-testid="currentUTCTime"],
[data-testid="myTrack"] {
    font-size: 30px;
    color: #666;
    margin: 30px 0;
}
